@import url("../../theme/theme.module.css");

.recipe-step-card{
  background-color: var(--cardBackground);
  border-radius: 10px;
  color: var(--cardHeading);
  font-family: var(--fontFamily);
  margin: auto;
  width: fit-content;

}
.recipe-step-img{

}