@import url("../../theme/theme.module.css");

.recipe-step-card{
  width: 70%;
  background-color: var(--cardBackground);
  border-radius: 10px;
  color: var(--cardHeading);
  font-family: var(--fontFamily);
  margin: auto;

}
.recipe-step-img{
  height: 50%;
  width: 50%;
}